<md-card><h3>Datos del ticket</h3>
<p><b>Sector:</b> 1</p>
<p><b>Posición:</b> F3 C6 P1</p>
<hr/>
<p>1 x Hamaca = <b>4,00 €</b></p>
<p>1 x Sombrilla = <b>4,00 €</b></p>
<hr/>
<p><b>Total: 8,00 €</b></p>
</md-card>
<div class="botones-iguales" style="margin-top: 20px;" md-theme="indigo">
	<div layout="row" layout-align="space-around center">
			<md-button style="min-width: 130px;margin: 5px 10px;" ng-click="imprimir()" class="md-raised md-primary">Imprimir</md-button>
			<md-button style="min-width: 130px;margin: 5px 10px;" class="md-raised md-primary">Anular</md-button>

	</div>
	<div layout="row" layout-align="space-around center">
			<md-button style="min-width: 130px;margin: 5px 10px;" class="md-raised md-primary">Reubicar</md-button>
			<md-button style="min-width: 130px;margin: 5px 10px;" ng-click="incidencia()" class="md-raised md-primary">Incidencia</md-button>
	</div>
	<div layout="row" layout-align="space-around center">
			<md-button style="min-width: 130px;margin: 5px 10px;" class="md-raised md-primary">Liberar</md-button>
			<div style="min-width: 130px;margin: 10px;"></div>
	</div>
</div>