	<div layout="row" layout-align="center center">
	<div class="scrolls">
		<div class="imageDiv">
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
		</div>
		<div class="imageDiv">
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
		</div>
		<div class="imageDiv">
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
		</div>
		<div class="imageDiv">
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
		</div>
		<div class="imageDiv">
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
		</div>
		<div class="imageDiv">
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
		</div>
		<div class="imageDiv">
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('occupied')" class="ocuppied"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
			<img ng-click="selectPosition('empty')" class="empty"  />
		</div>
	</div>  
</div>
