<md-card ng-click="selectZone()">
    <h3>Zona 1</h3>
    <md-progress-linear md-mode="determinate" ng-value="30" md-theme="indigo"></md-progress-linear>
</md-card>

<md-card ng-click="selectZone()">
    <h3>Zona 2</h3>
    <md-progress-linear md-mode="determinate" ng-value="10" md-theme="green"></md-progress-linear>
</md-card>

<md-card ng-click="selectZone()">
    <h3>Zona 3</h3>
    <md-progress-linear md-mode="determinate" ng-value="50" md-theme="yellow"></md-progress-linear>
</md-card>

<md-card ng-click="selectZone()">
    <h3>Zona 4</h3>
    <md-progress-linear md-mode="determinate" ng-value="90" md-theme="red"></md-progress-linear>
</md-card>

<md-card ng-click="selectZone()">
    <h3>Zona 5</h3>
    <md-progress-linear md-mode="determinate" ng-value="30" md-theme="indigo"></md-progress-linear>
</md-card>

<md-card ng-click="selectZone()">
    <h3>Zona 6</h3>
    <md-progress-linear md-mode="determinate" ng-value="10" md-theme="green"></md-progress-linear>
</md-card>

<md-card ng-click="selectZone()">
    <h3>Zona 7</h3>
    <md-progress-linear md-mode="determinate" ng-value="50" md-theme="yellow"></md-progress-linear>
</md-card>

<md-card ng-click="selectZone()">
    <h3>Zona 8</h3>
    <md-progress-linear md-mode="determinate" ng-value="90" md-theme="red"></md-progress-linear>
</md-card>